*{
    margin: 0;
    padding: 0;
}

.ab{
    text-decoration: none;
   
}
li{
    list-style: none;
}
.wrapper{
    width: 1300px;
    margin: 0 auto;
    padding: 30px;
    border: 1px solid;
}
header{
    display: flex;
    
    position: fixed;
    top: 0;
    left: 100;
    justify-content: space-between;
    right: 0;
}
.menu{
    margin-right: 100px;
    display: flex;
}
.a{
    margin-inline: 15px;
}